<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Index</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li> <a href="/" class="active">Messages</a> </li>
                <li> <a href="/new" class="active">Post A New Message</a> </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <% messages.forEach((message) => { %>
            <div class="message">
                <ul>
                    <li id="username"> Posted by: <%= message.username %> </li>
                    <li id="date"> On: <%= message.date_posted %> </li>
                    <li id="message"> <%= message.message_post %> </li>
                </ul>
            </div>
        <% }) %>
    </div>
</body>
</html>